// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//Colores definidos
$azul-claro: #F0F8FF;

.clase-formulario{
    background-color: $azul-claro;
    @extend .py-3;
    @extend .px-4;
    @extend .shadow-lg;
    @extend .rounded;
}

.clase-cajatexto {
    @extend .bg-white;
    @extend .border-0;
    @extend .shadow-sm;
    @extend .form-control;
    font-weight:bold; 
}

.show-texto{ 
    @extend .text-center; 
}
.clase-tabla-head{
    @extend .bg-info;
    @extend .text-white;
}
.clase-tabla {
    @extend .table;
    @extend .table-sm;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover; 
}

 